<div class="col-sm-12">
  <div class="row">
    <div class="col-sm-12">
      <span class="label label-default">1h 15m</span>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-11">
      <input id="command-line" type="text" placeholder="Add new task tags"/>
    </div>
    <div class="col-sm-1">
      <a id="add-log-entry" class="btn btn-primary">Add</a>
    </div>
  </div>
</div>
