<div class="row">
  <div class="col-sm-8" id="current-date">{{ current_date }}</div>
  <div class="col-sm-2">
      Work done: 10h
  </div>
  <div class="col-sm-2">
      Breaks: 1h
  </div>
</div>

<div class="row">
  <div id="log-entries"></div>
</div>

<div class="row">
  <div id="command"></div>
</div>
